.hero-section {
    display: flex;
    padding: 100px 0 0 80px ;
    background-color: #ffffff;
    margin-top: 70px;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .hero-content h1 {
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 20px;
    color: #091133;
    text-align: left;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #505F98;
    width: 500px;
    height: 164px;
    top: 152px;
    gap: 0px;
    margin-bottom: 60px;
    
  }
  
  .hero-buttons {
    display: flex;
  }
  
  .hero-buttons .primary-button {
    width: 189px;
    height: 36px;
    margin-right: 10px;
    background-color: #111B47;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;

  }
  
  .hero-buttons .secondary-button {
    width: 189px;
    height: 36px;
    background-color: #fff;
    color: #2C3E50;
    border: 2px solid #111B47;
    cursor: pointer;
    font-size: 16px;
  }
  
  .hero-image {
    max-width: 50%;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
  }
  